@import "src/constants/palette";

$sixteen-by-nine: 56.25%;
$four-by-three: 75%;

iframe, .stream, .player {
    border-radius: .3rem;
    border: none;
}

.stream {
    width: 100%;
    height: 100%;

    .placeholder {
        height: 100%;
    }

    &__container {
        position: relative;
        padding-top: $four-by-three;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }

    &--focused,
    &--default {
        grid-column: 1 / -1;
    }

    &--focused {
        position: sticky;
        top: 3.3rem;
        grid-row-start: 1;
        grid-row-end: 1;
        z-index: -1;
        background: $papas-in-the-house;
        padding-bottom: .5rem;
        z-index: 9999;
    }

    &__frame{
        &--hidden {
            display: none;
        }
    }
}

@media (min-width: 60rem) {
    .stream {
        &--default {
            grid-column: auto;
        }

        &__container {
            padding-top: $sixteen-by-nine;
        }
    }
}
